table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th,
tr {
  width: 25%;
  padding-block: 10px;
}

tr.table-row {
  cursor: pointer;

  &:hover {
    background-color: #007bff;
  }
}

tr.table-header {
  background-color: #004691;
  height: 80px;
}
