<div class="banner">
  <div class="container">
    <div class="header">
      <h2>CryptoStatus</h2>
      <h6>Check all the crypto currency latest updates</h6>
    </div>
    <div class="sub-header">
      <marquee
        behavior="scroll"
        onmouseover="stop()"
        onmouseout="start()"
        loop="infinite"
        direction="left"
      >
        <div class="row">
          <ng-container *ngFor="let row of bannerData">
            <div class="col-1">
              <div class="card">
                <img [src]="row.image" class="img-fluid" alt="" />
                <div class="card-body">
                  <h5 class="card-title">
                    {{ row.symbol | uppercase }}
                  </h5>
                  <span
                    class=""
                    [ngClass]="
                      row.market_cap_change_percentage_24h >= 0
                        ? 'text-success'
                        : 'text-danger'
                    "
                    >{{
                      row.market_cap_change_percentage_24h | number : ".4"
                    }}%</span
                  >
                  <p class="card-text">
                    {{ row.current_price | currency : currency }}
                  </p>
                </div>
              </div>
            </div>
          </ng-container>
        </div></marquee
      >
    </div>
  </div>
</div>
